//BRAND COLORS

$red: #A04434;
$orange: #E39953;
$blue: #609FD6;
$yellow: #EAC552;
$green:#6AAC68;


//UI COLORS


$ui-red: #D33C27;
$ui-orange: #E28436;
$ui-blue: #5088C7;
$ui-yellow: #ECC11C;
$ui-green:#51B848;


//GREY COLORS

$black: #22232B;
$grey-dark: #BCBEC0;
$grey: #e6e7e8;
$grey-light:#f4f4f4;
$white:#ffffff;