.fontsize-s{
    font-size: 12pt;
}
.fontsize-m{
    font-size: 16pt;
}
.fontsize-l{
    font-size: 20pt;
}
.fontsize-xl{
    font-size: 26pt;
}
.fontsize-xxl{
    font-size: 33pt;
}
.fontsize-xxxl{
    font-size: 40pt;
}
.fontweight-m{
    font-family: nanum-bold;
}
.fontweight-l{
    font-family: holiExtraBold;
}
.logo{
    max-width: 100px;
}